header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    width: 100vw;
    background-color: #f2e2e2;
    box-sizing: border-box;
    box-shadow: 2px 5px 15px #000000ad;
    z-index: 1;
    max-height: 100px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.logo a {
    width: 15%;
}

.logo img {
    width: 100%;
}

.logo span {
    font-size: 1.2em;
    font-weight: bold;
}