.containerUniao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 2em;
}

.containerUniao h1 {
    text-align: center;
    font-size: 1.2em;
}

.containerUniao h1 span {
    color: #a0121b;
}

.solucao {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 90%;
    max-width: 700px;
}

.solucao div {
    background-color: #470F13;
    width: 2px;
    height: 130px;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {

    .containerUniao h1 {
        font-size: 1.5em;
    }

    .solucao p {
        font-size: 1.1em;
    }
}
@media screen and (min-width: 1280px) {

    .containerUniao h1 {
        font-size: 1.8em;
    } 

    .solucao p {
        font-size: 1.2em;
    }
}