@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.banner {
    box-sizing: border-box;
    position: relative;
}

.banner img {
    max-width: 100%;   
    width: 100vw;
    height: auto;
    z-index: 0;
    opacity: 95%;
}

@media screen and (min-width: 768px) {
    .banner h1 {
        font-size: 2em;
    }
}

@media screen and (min-width: 1150px) {
    .banner h1 {
        font-size: 3em;
    }
}